<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>validationfilterdemo</filter-name>
        <filter-class>com.nikhil.backend.ValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validationfilterdemo</filter-name>
        <url-pattern>/reg</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>com.nikhil.backend.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>com.nikhil.backend.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editservlet</servlet-name>
        <servlet-class>com.nikhil.backend.EditProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editservlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>com.nikhil.backend.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addeducationservlet</servlet-name>
        <servlet-class>com.nikhil.backend.AddEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addeducationservlet</servlet-name>
        <url-pattern>/add_edu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editeducationdetails</servlet-name>
        <servlet-class>com.nikhil.backend.EditEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editeducationdetails</servlet-name>
        <url-pattern>/edit_edu_details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteeducationservlet</servlet-name>
        <servlet-class>com.nikhil.backend.DeleteEducationDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteeducationservlet</servlet-name>
        <url-pattern>/delete_education</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addexperiencedetails</servlet-name>
        <servlet-class>com.nikhil.backend.AddExperienceDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addexperiencedetails</servlet-name>
        <url-pattern>/add_exp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editexperiencedetails</servlet-name>
        <servlet-class>com.nikhil.backend.EditExperienceDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editexperiencedetails</servlet-name>
        <url-pattern>/edit_exp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteexperiencedetails</servlet-name>
        <servlet-class>com.nikhil.backend.DeleteExperience</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteexperiencedetails</servlet-name>
        <url-pattern>/delete_experience</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateprofilepic</servlet-name>
        <servlet-class>com.nikhil.backend.UpdateProfilePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateprofilepic</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addresumeservlet</servlet-name>
        <servlet-class>com.nikhil.backend.AddResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addresumeservlet</servlet-name>
        <url-pattern>/add_resume</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>downloadresumeservlet</servlet-name>
        <servlet-class>com.nikhil.backend.DownloadResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadresumeservlet</servlet-name>
        <url-pattern>/download_resume</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addprojectservlet</servlet-name>
        <servlet-class>com.nikhil.backend.AddProjectDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addprojectservlet</servlet-name>
        <url-pattern>/add_my_project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateprojectservlet</servlet-name>
        <servlet-class>com.nikhil.backend.UpdateProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateprojectservlet</servlet-name>
        <url-pattern>/update_project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteprojectservlet</servlet-name>
        <servlet-class>com.nikhil.backend.DeleteProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteprojectservlet</servlet-name>
        <url-pattern>/delete_project</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createresumepdfservlet</servlet-name>
        <servlet-class>com.nikhil.backend.CreateResumePdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createresumepdfservlet</servlet-name>
        <url-pattern>/create_resume_pdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>downloadresumebuilderservlet</servlet-name>
        <servlet-class>com.nikhil.backend.DownloadResumeBuilder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadresumebuilderservlet</servlet-name>
        <url-pattern>/download_resume_builder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminlogindemo</servlet-name>
        <servlet-class>com.nikhil.backend.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogindemo</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addjobtodatabaseservlet</servlet-name>
        <servlet-class>com.nikhil.backend.AddJobToDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addjobtodatabaseservlet</servlet-name>
        <url-pattern>/add_job</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchjobsinindexservlet</servlet-name>
        <servlet-class>com.nikhil.backend.SearchJobsInIndexPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchjobsinindexservlet</servlet-name>
        <url-pattern>/search_jobs</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>searchjobspageservlet</servlet-name>
        <servlet-class>com.nikhil.backend.SearchJobsPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchjobspageservlet</servlet-name>
        <url-pattern>/get_all_job</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getuserdataservlet</servlet-name>
        <servlet-class>com.nikhil.backend.GetUserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getuserdataservlet</servlet-name>
        <url-pattern>/getuserdata</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>checkcookieservlet</servlet-name>
        <servlet-class>com.nikhil.backend.CheckCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkcookieservlet</servlet-name>
        <url-pattern>/checkcookie</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>contactusservlet</servlet-name>
        <servlet-class>com.nikhil.backend.ContactUsDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contactusservlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
</web-app>
